<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
    <script src="./js/jquery.min.js"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
</head>
<style>
    /*body {
        background-color: black;
        color: #d9ded7
    }*/
</style>

<body>
    <!-- 练习01 -->
    <!-- <script type="text/javascript">
    var data = {a:1}
    var vm= new Vue({
      data: data
    })
    console.log(vm.a===data.a);

    vm.a = 2;
    console.log(data.a);

    data.a=3;
    console.log(vm.a);
  </script> -->

    <!-- 练习2 -->
    <!-- <div id="example">helloworld</div>
  <script type="text/javascript">
    var data = {a:1};
    var vm = new Vue({
      el: "#example",
      data: data
    });

    console.log(vm.$data===data);
    console.log(vm.$el === document.getElementById("example"));
    console.log(vm.$el === $("#example")[0]);

    vm.$watch('a',function(newVal, oldVal){
      console.log("new Value: "+newVal);
      console.log("old Value: "+oldVal);
    })
  </script> -->

    <!-- 练习03，测试vue的构造函数 -->
    <!-- <script type="text/javascript">
    var vm= new Vue({
      data: {
        a:100
      },
      created: function() {
        console.log("<h1></h1>a is:" + this.a)
      }
    })
  </script> -->

    <!-- span#span1{Message: {{msg}}} -->
    <span id="span1">Message: <h1>{{msg}}</h1> {{msg}}</span>
    <script type="text/javascript">
        var vSpan = new Vue({
            el: "#span1",
            data: {
                msg: "The current time is: " + new Date()
            }
        })
    </script>

    <!-- div[v-html=rawHtml] -->
    <div v-html="rawHtml">11211</div>

    <!-- 继续练习vue 加油！-->
    <!-- a#a01{here} -->
    <a :href="url" id="a01">click here</a>
    <script type="text/javascript">
        var vA01 = new Vue({
            el: "#a01",
            data: {
                url: "http://www.baidu.com"
            }
        })
    </script>

    <!-- 练习vue+textbox -->
    <hr>
    <input type="text" name="" id="txt1" :value="txt1Value" :size="txt1Size">
    <script type="text/javascript">
        var vueTxt1 = new Vue({
            el: "#txt1",
            data: {
                txt1Value: "hell world!",
                txt1Size: 100
            }
        })
    </script>

    <!-- 练习vue+button -->
    <hr>
    <input type="button" :value="btn1Value" id="btn1" :size="btn1Size"></button>
    <script type="text/javascript">
        var vueBtn1 = new Vue({
            el: "#btn1",
            data: {
                btn1Value: "button @steve.k.colin@gmail.com",
                btn1Size: "100"
            }
        })
    </script>

    <!-- 练习vue+div02计算文字倒牌 -->
    <hr>
    <div id="div02">{{message.split('').reverse().join('')}}</div>
    <script type="text/javascript">
        var vueDiv02 = new Vue({
            el: "#div02",
            data: {
                message: "hello 陈胖子"
            }
        })
    </script>

    <!-- 练习vue 中的compute公式 -->
    <hr>
    <div id="div03">
        <p>Origianl Message: {{message}}</p>
        <p>Computed Reversed Message: {{reversedMessage}}</p>
    </div>

    <script type="text/javascript">
        var vueDiv03 = new Vue({
            el: "#div03",
            data: {
                message: "hello 陈胖子"
            },
            computed: {
                reversedMessage: function() {
                    return this.message.split('').reverse().join('')
                }
            }
        })
        console.log(vueDiv03.message);
        console.log(vueDiv03.reversedMessage);
    </script>


    <!-- 练习vue中的compute方式 -->
    <hr>
    <div id="div04">
        <p>First Name is: {{firstName}}</p>
        <p>Last Name is: {{lastName}}</p>
        <p>Full Name is: {{fullName}}</p>
    </div>

    <script type="text/javascript">
        var vueDiv04 = new Vue({
            el: "#div04",
            data: {
                firstName: "Steve",
                lastName: "Chen"
            },
            computed: {
                fullName: function() {
                    return "******" + this.firstName + "." + this.lastName + "******"
                }
            }
        })
    </script>

    <!-- 继续练习使用computed 属性 -->
    <hr>
    <div id="div05">
        <h2>该示例为显示如何动态获取input框中的输入，然后自动计算其阶乘数！</h2>
        <input type="number" name="" v-model="number">
        <p>计算结果：{{number}} 的阶乘数为{{jiechengResult}}</p>
    </div>
    <script type="text/javascript">
        function factorial(n) {
            if (n === 0) {
                return 1;
            }
            // This is it! Recursion!!
            return n * factorial(n - 1);
        }

        var vueDiv05 = new Vue({
            el: "#div05",
            data: {
                number: "1"
            },
            computed: {
                jiechengResult: function() {
                    var n = this.number;
                    return factorial(n);
                }
            }
        })
    </script>

    <!-- 综合使用watch, methods,方法来实现前端的功能 -->
    <hr>
    <div id="watch-example">
        <p>
            ask a yes/no question:
            <input type="text" v-model="question">
        </p>
        <p>{{answer}}</p>
    </div>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script type="text/javascript">
      var watchExampleVM = new Vue({
        el: "#watch-example",
        data : {
          question: '',
          answer : "请问问题吧，我在等你呢，主淫！"
        },
        watch : {
          question: function(newQuestion) {
            this.answer = "等你输入完毕";
            this.getAnswer()
          }
        },

        methods: {
          getAnswer: _.debounce(
            function (){
              var vm = this;
              if (this.question.indexOf("?")===-1) {
                vm.answer = "Questions usually contains a question mark";
                return
              }
              vm.answer = "Thinking...";
              axios.get("https://yesno.wtf/api").then(function(response){
                vm.answer = _.capitalize(response.data.answer);
              }).catch(function(error){
                vm.answer = 'Error! Could not reach the API. ' + error
              })
            },500
          )
        }

      })

    </script>



















































</body>

</html>
